In [2]:
#imported pandas and created data frame object.
import pandas as pd
df =pd.read_csv('weather.csv')
df

          day  temperature  wind  event
0  01/01/2017           32     6   Rain
1  02/01/2017           35     7  Sunny
2  03/01/2017           28     2   Snow
3  04/01/2017           24     7   Snow
4  05/01/2017           32     4   Rain
5  06/01/2017           32     2  Sunny

In [8]:
#shape of the data frame object
df.shape

(6, 4)

In [9]:
#display first 2 entries of dataframe. 
df.head(2)

          day  temperature  wind  event
0  01/01/2017           32     6   Rain
1  02/01/2017           35     7  Sunny

In [10]:
#displays last 2 entries of data frame
df.tail(2)

          day  temperature  wind  event
4  05/01/2017           32     4   Rain
5  06/01/2017           32     2  Sunny

In [12]:
#data frame slicing. Work like list slicing.
#to display all rows df[:] or df
df[2:5]

          day  temperature  wind event
2  03/01/2017           28     2  Snow
3  04/01/2017           24     7  Snow
4  05/01/2017           32     4  Rain

In [13]:
#to display column names. also list(df) or tuple(df) will give.
df.columns

Index(['day', 'temperature', 'wind', 'event'], dtype='object')

In [14]:
#to print individual column
#df.column_name or df['column_name']
df.day

0    01/01/2017
1    02/01/2017
2    03/01/2017
3    04/01/2017
4    05/01/2017
5    06/01/2017
Name: day, dtype: object

In [15]:
#to print individual column
#df.column_name or df['column_name']
df['day']

0    01/01/2017
1    02/01/2017
2    03/01/2017
3    04/01/2017
4    05/01/2017
5    06/01/2017
Name: day, dtype: object

In [18]:
#to print multiple selected columns
df[['day','temperature']]  #double [] bracket is important

          day  temperature
0  01/01/2017           32
1  02/01/2017           35
2  03/01/2017           28
3  04/01/2017           24
4  05/01/2017           32
5  06/01/2017           32

In [19]:
# operation on column
# df.temperature.max() work too
df['temperature'].max()

35

In [26]:
#all statetics data
df.describe()

       temperature      wind
count     6.000000  6.000000
mean     30.500000  4.666667
std       3.885872  2.338090
min      24.000000  2.000000
25%      29.000000  2.500000
50%      32.000000  5.000000
75%      32.000000  6.750000
max      35.000000  7.000000

In [37]:
#give me the row where temperature = max
df[df.temperature==df.temperature.max()]

1    02/01/2017
Name: day, dtype: object

In [38]:
#give me the day column only for max temperature entry
df['day'][df.temperature==df.temperature.max()]

1    02/01/2017
Name: day, dtype: object

In [39]:
#give me day and tem of max temp entry
#check double [] when we have to select multiple column
df[['day','temperature']][df.temperature == df.temperature.max()]

          day  temperature
1  02/01/2017           35

In [40]:
#in some cases our column name may contain spaces in them. Like 'wind speed' for them we have to use ['temperature']
df[df['temperature']==df['temperature'].max()]

          day  temperature  wind  event
1  02/01/2017           35     7  Sunny

In [41]:
df

          day  temperature  wind  event
0  01/01/2017           32     6   Rain
1  02/01/2017           35     7  Sunny
2  03/01/2017           28     2   Snow
3  04/01/2017           24     7   Snow
4  05/01/2017           32     4   Rain
5  06/01/2017           32     2  Sunny

In [3]:
#index
#how to start index from 1 instead of 0
df.index

RangeIndex(start=0, stop=6, step=1)

In [4]:
#to set any column as index
#to make the changes permanet 
#df.set_index('day', inplace= True)
df.set_index('day')

            temperature  wind  event
day
01/01/2017           32     6   Rain
02/01/2017           35     7  Sunny
03/01/2017           28     2   Snow
04/01/2017           24     7   Snow
05/01/2017           32     4   Rain
06/01/2017           32     2  Sunny

In [70]:
#benifit of setting a column as index we can access data immidietly with 'loc'
df.set_index('event').loc['Rain']

              day  temperature  wind
event
Rain   01/01/2017           32     6
Rain   05/01/2017           32     4

In [71]:
#reset index - useful after cleaning and reseting
df.reset_index() #inplace = True to make it permanet

   index         day  temperature  wind  event
0      0  01/01/2017           32     6   Rain
1      1  02/01/2017           35     7  Sunny
2      2  03/01/2017           28     2   Snow
3      3  04/01/2017           24     7   Snow
4      4  05/01/2017           32     4   Rain
5      5  06/01/2017           32     2  Sunny